* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box; /* para que el padding y borde no sume al width */
}
@font-face {
    font-family: oldlondon;
    src: url(../fuentes/OldLondon.ttf);
}

body {
    background-color: black;
    padding: 1rem;
}

header {
    /*Para que el encabezado quede siempre visible en la parte superior */
    position: sticky;
    top:0; /* que quede pegado en la parte superior */
    /* para que el contenido vaya por debajo del header al desplazarnos. Es
    darle cualquier valor mayor que 0 */
    z-index:10; 
    background-color: black;
    padding-bottom: .4rem;
}
header h1 {
    font-weight: normal;
    font-family: oldlondon, fantasy;
    font-size: calc(1.3rem + 4vw);
    color: gold;
    -webkit-text-stroke: 1px white;
    text-align: center;
    text-transform: uppercase;
}
.filtros {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    label {
        color:white;
        margin-right: 1rem;
    }
    select {
        margin-right: 1rem;
    }
    #filtroTodos {
        padding: 0.1rem 2rem;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.barco {
    max-width: 300px;
    border: 1px solid maroon;
    background-color: antiquewhite;
    /* Para poder poner las imágenes de la bandera y seleccionado arriba */
    position: relative;
}
.barco:hover {
    filter: brightness(1.1);
}
.barco p:nth-of-type(2) {
    background-color: bisque;
}
.barco p {
    padding: .4rem;
}

.imagenBarco {
    width: 100%;
}
.imagenSeleccionado {
    position: absolute;
    top:5px;
    left: 5px;
    width: 32px;
}
.imagenBandera{
    position: absolute;
    top:5px;
    right: 5px;
    width: 45px;
}

#infoBarco {
    color: white;
    background-color: rgba(0, 0, 0, 0.764);
    /* Para centrarlo en la ventana */
    /* Usamos fixed en lugar de absolute para que, si hacemos scroll vertical,
    el cuadro de info siempre quede en el centro de la ventana */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2rem;
    min-width: 250px;
    display: none;
    h2 {
        font-size: 1.5rem;
        border-bottom: 1px solid white;
        font-weight: normal;
    }
    p {
        margin-top: .6rem;
        margin-bottom: .6rem;
        display: flex;
        justify-content: space-between;
    }
    #cerrarInfo {
        display: block;
        margin: auto;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media screen and (max-width: 400px) {
    header h1 {
        -webkit-text-stroke: 0;
    }
}

