* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box; /* para que el padding y borde no sume al width */
}
@font-face {
    font-family: oldlondon;
    src: url(../fuentes/OldLondon.ttf);
}

body {
    background-color: black;
    padding: 1rem;
}

header h1 {
    font-weight: normal;
    font-family: oldlondon, fantasy;
    font-size: calc(1.3rem + 4vw);
    color: gold;
    -webkit-text-stroke: 1px white;
    text-align: center;
    text-transform: uppercase;
}
.filtros {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    label {
        color:white;
        margin-right: 1rem;
    }
    select {
        margin-right: 1rem;
    }
    #filtroTodos {
        padding: 0.1rem 2rem;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.barco {
    max-width: 300px;
    border: 1px solid maroon;
    background-color: antiquewhite;
    /* Para poder poner las imágenes de la bandera y seleccionado arriba */
    position: relative;
}
.barco p:nth-of-type(2) {
    background-color: bisque;
}
.barco p {
    padding: .4rem;
}

.imagenBarco {
    width: 100%;
}
.imagenSeleccionado {
    position: absolute;
    top:5px;
    left: 5px;
    width: 32px;
}
.imagenBandera{
    position: absolute;
    top:5px;
    right: 5px;
    width: 45px;
}


@media screen and (max-width: 400px) {
    header h1 {
        -webkit-text-stroke: 0;
    }
}

